@page "/shifts/{id:guid}/edit"

@using BlazorStrap.V5;
@using CommunityToolkit.Mvvm.Messaging;
@using CrewLog.Client.Messages;
@using CrewLog.Client.Stores;
@using CrewLog.Shared.Model;

@inject IStore<Shift> ShiftStore
@inject NavigationManager NavigationManager

<BSContainer Container="Container.Fluid">
    <h1 class="h3 my-3">Edit Shift</h1>
    <BSCard CardType="BlazorStrap.CardType.Card">
        <BSCard CardType="BlazorStrap.CardType.Body">
            <ShiftForm InitialModel="Item" Submit="Save" IsDisabled="_isRunning || ShiftStore.IsLoading" />
        </BSCard>
    </BSCard>
</BSContainer>

@code {
    private bool _isRunning;

    [Parameter]
    public Guid Id { get; set; }

    private Shift? Item
    {
        get
        {
            if (ShiftStore.Data.TryGetValue(Id, out var item))
                return item;
            return null;
        }
    }

    private async Task Save(Shift item)
    {
        _isRunning = true;
        StateHasChanged();
        await ShiftStore.Put(item);
        NavigationManager.NavigateTo($"/shifts/{Id}");
    }

    protected override void OnInitialized()
    {
        WeakReferenceMessenger.Default.Register<NewDataMessage>(this, (r, m) =>
            {
                if (m.DataType == NewDataItem.Shift && m.Ids.Contains(Id))
                    StateHasChanged();
            });
    }

    protected override void OnParametersSet()
    {
        ShiftStore.LoadItems(new[] { Id });
        StateHasChanged();
    }
}
