@page "/shifts/new"

@using BlazorStrap.V5;
@using CommunityToolkit.Mvvm.Messaging;
@using CrewLog.Client.Messages;
@using CrewLog.Client.Stores;
@using CrewLog.Shared.Model;

@inject IStore<Shift> ShiftStore
@inject NavigationManager NavigationManager

<BSContainer Container="Container.Fluid">
    <h1 class="h3 my-3">Edit Shift</h1>
    <BSCard CardType="BlazorStrap.CardType.Card">
        <BSCard CardType="BlazorStrap.CardType.Body">
            <ShiftForm IsNew="true" Submit="Save" IsDisabled="_isRunning" />
        </BSCard>
    </BSCard>
</BSContainer>

@code {
    private bool _isRunning;

    private async Task Save(Shift item)
    {
        _isRunning = true;
        StateHasChanged();
        var id = await ShiftStore.Add(item);
        NavigationManager.NavigateTo($"/shifts/{id}");
    }
}
